{"is_source_file": true, "file_id": 126, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "c7908b08b7850f2856e56c932e176939", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/windows/runner/Runner.rc", "knowledge_revision": 124}