{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 106, "knowledge_revision": 242, "git_revision": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b", "hash": "e19c2368cf97e5f3eaf8de37cff2b341", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/macos/Runner/Configs/Warnings.xcconfig", "revision_history": [{"242": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b"}]}