{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 55, "knowledge_revision": 191, "git_revision": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b", "hash": "bd6254e10068a9a3539aa9710626ac24", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/ios/Flutter/Debug.xcconfig", "revision_history": [{"191": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b"}]}