{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 52, "knowledge_revision": 188, "git_revision": "", "hash": "4add60956353f63a3532fe1e85bb56ac", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/ios/Flutter/Generated.xcconfig", "revision_history": [{"188": ""}]}