{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 103, "knowledge_revision": 240, "git_revision": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b", "hash": "c1907a352ccb9366216d32fe7c5bfac5", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"240": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b"}]}