{"is_source_file": true, "file_id": 52, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "4add60956353f63a3532fe1e85bb56ac", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/ios/Flutter/Generated.xcconfig", "knowledge_revision": 52}