{"is_source_file": true, "file_id": 114, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "ccf93fb112639b29d0355e6bd7335688", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "knowledge_revision": 114}