{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 102, "knowledge_revision": 241, "git_revision": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b", "hash": "e6fde05dec64f9856d3978a4a5e4bf48", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/macos/Runner/Release.entitlements", "revision_history": [{"241": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b"}]}