{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 56, "knowledge_revision": 193, "git_revision": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b", "hash": "5eb1ee18836d512da62e476379865f8d", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/ios/Flutter/AppFrameworkInfo.plist", "revision_history": [{"193": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b"}]}