{"is_source_file": true, "file_id": 40, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "a109c3d93863c5a37df8efcfdfce8ee1", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/ios/Runner/Info.plist", "knowledge_revision": 41}