{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 108, "knowledge_revision": 245, "git_revision": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b", "hash": "6e164fc6ed6acb30c71fe12e29e49642", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/macos/Runner/DebugProfile.entitlements", "revision_history": [{"245": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b"}]}