{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 101, "knowledge_revision": 239, "git_revision": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b", "hash": "b945a5051bb1cca2d906ac0be98b629a", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/macos/Runner/Info.plist", "revision_history": [{"239": "328d6bbc95fcc29cb1b53a30c86e1c00ffce263b"}]}