{"is_source_file": false, "format": null, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["FLUTTER_ROOT", "FLUTTER_APPLICATION_PATH", "COCOAPODS_PARALLEL_CODE_SIGN", "FLUTTER_BUILD_DIR", "FLUTTER_BUILD_NAME", "FLUTTER_BUILD_NUMBER", "DART_OBFUSCATION", "TRACK_WIDGET_CREATION", "TREE_SHAKE_ICONS", "PACKAGE_CONFIG"], "state": 2, "file_id": 114, "knowledge_revision": 251, "git_revision": "", "hash": "ccf93fb112639b29d0355e6bd7335688", "format-version": 4, "code-base-name": "default", "filename": "tasktrack_pro/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"251": ""}]}